body {
  width: 100%;
  min-width: 330px;
  overflow-x: hidden;
  background: #fffff0;
}

.lock {
  overflow: hidden;
}

.title {
  color: var(--dark-blue);
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
}

.title--large {
  font-size: 2.625rem;
}

.title--medium {
  font-size: 1.5rem;
}

.title--mb {
  margin: 0 0 1.85rem;
}

.description {
  font-family: 'Roboto';
  line-height: 1.15;
}

.description--large {
  font-size: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-limination {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 1.25rem;
}

.header {
  position: relative;
  z-index: 4;
  background: #fff;
  padding: 1.25rem 0;
  box-shadow:
    0 1px 3px 0 var(--gray-color),
    0 1px 2px -1px var(--gray-color);
}

.header__nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.header__link {
  font-size: 1.25rem;
  transition:
    color ease 0.3s,
    transform ease 0.3s;
}

.header__item::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -0.625rem;
  display: inline-block;
  background: transparent;
  transition:
    width ease 0.3s,
    background-color ease 0.3s;
}

.header__item:hover::after {
  width: 100%;
  background: var(--hover-color);
}

.header__item:hover {
  color: var(--hover-color);
}

.header__item:active,
.header__item--active {
  color: var(--accent-color);
}

.header__item:active::after,
.header__item--active::after {
  width: 70%;
  background: var(--accent-color);
}

.main {
  padding-block: 5rem 4.5rem;
}

.main__title {
  text-align: center;
  margin: 0 0 2.5rem;
}

.footer {
  padding: 1.5rem 0;
  background: #fff;
  box-shadow:
    0 -1px 3px 0 var(--gray-color),
    0 -1px 2px -1px var(--gray-color);
}
.footer__text {
  font-size: 1.25rem;
  text-align: center;
}

.burger {
  width: 100%;
  display: none;
  aspect-ratio: 1;
  max-width: 20px;
  overflow: hidden;
  position: relative;
}

.burger__line,
.burger__line::before,
.burger__line::after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  transition: transform ease 0.3s;
}

.burger__line::before,
.burger__line::after {
  content: '';
  position: absolute;
  right: 0;
}

.burger__line::before {
  transform: translate(0, -350%);
}

.burger__line::after {
  transform: translate(0, 350%);
}

/*.burger--active .burger__line {*/
/*  transform: translate(-100%, 0);*/
/*}*/

/*.burger--active .burger__line::before,*/
/*.burger--active .burger__line::after {*/
/*  top: 50%;*/
/*  left: 50%;*/
/*}*/

/*.burger--active .burger__line::before {*/
/*  transform: translate(50%, -50%) rotate(45deg);*/
/*}*/

/*.burger--active .burger__line::after {*/
/*  transform: translate(50%, -50%) rotate(-45deg);*/
/*}*/

.logo {
  max-width: 50px;
}

.blur {
  position: fixed;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: width ease 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.blur--show {
  width: 100%;
}

.card {
  color: #000;
  border-radius: 10px;
  background: var(--color-sky-blue);
  box-shadow: 0 1px 3px 0 var(--dark-color);
  transition: background-color linear 0.3s;
}

.card:hover {
  background: var(--color-light-sky-blue);
}

.card__content {
  padding: 1.25rem;
}

.card__text {
  background: #fff;
  padding: 0.625rem;
  border-radius: 5px;
  transition: box-shadow ease 0.3s;
}

.card:hover .card__text,
.card:hover .articles__details {
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.4),
    inset 0 -2px 4px rgba(255, 255, 255, 0.6);
}

.card__title {
  margin: 0 0 0.937rem;
}

.articles__image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 var(--dark-color);
}

.articles__text {
  margin: 0.625rem 0 0.937rem;
}

.articles__description {
  margin: 0 0 0.625rem;
  line-height: 1.125rem;
}

.articles__details {
  color: #000;
  background: #fff;
  border-radius: 5px;
  padding: 0.3125rem 0.625rem;
  transition: box-shadow ease 0.3s;
}

.articles__views {
  margin: 0 0 0 0.3125rem;
  display: inline-block;
}

.feeds__grid {
  display: grid;
  gap: 0.937rem;
  justify-content: center;
  grid-template-columns: 100px 240px;
}

.feeds__img {
  min-height: 150px;
  max-height: 150px;
}

.feeds__tags-list {
  display: flex;
  grid-column: 1/-1;
  align-items: center;
}

.feeds__tag {
  color: #ffffff;
  padding: 10px;
  background: #40e0d0;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition:
    color ease 0.3s,
    background-color ease 0.3s;
}

@media (min-width: 768px) {
  .header__close-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .title--large {
    font-size: 2rem;
  }

  .description--large {
    font-size: 1.562rem;
  }

  .title--medium {
    font-size: 1.25rem;
  }

  .burger {
    display: block;
  }

  .header__links {
    top: 0;
    right: 0;
    width: 0;
    overflow: auto;
    height: 100%;
    background: #fff;
    align-items: end;
    position: fixed;
    z-index: 3;
    padding: 6.25rem 1.25rem 1.5rem 0;
    flex-direction: column;
    justify-content: start;
    box-shadow:
      0 2px 3px 0 var(--gray-color),
      0 2px 2px -1px var(--gray-color);
    transform: translate(100%, 0);
    transition:
      width ease 0.3s,
      transform ease 0.3s;
  }

  .header__links--active {
    width: 100%;
    transform: translate(0, 0);
  }

  .header__close-icon {
    cursor: pointer;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
  }

  .header__item:not(:last-child) {
    margin: 0 0 2.187rem;
  }
}

@media (min-width: 480px) {
  .feeds__tag:not(:last-child) {
    margin: 0 0.3125rem 0 0;
  }
}

@media (max-width: 480px) {
  .description--large {
    font-size: 1.25rem;
  }

  .blur {
    display: none;
  }

  .header__links {
    max-width: 100%;
  }

  .header__close-icon {
  }

  .header__link {
    font-size: 1.5rem;
  }

  .card__link {
    padding: 0.937rem;
  }

  .articles__title {
    font-size: 1rem;
  }
}
