@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
