:root {
  --dark-blue: #1e316a;
  --color-light-sky-blue: #baeafa;
  --color-sky-blue: #98d7ed;
  --accent-color: #e17100ff;
  --hover-color: #ef9240;
  --gray-color: #c7c7c7;
  --dark-color: rgba(43, 43, 43, 0.57);
}
